<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.itq.antwort">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AnswerScreenActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.QuestionDetails"
            android:exported="true" />
        <activity
            android:name=".Activities.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.QuestionScreenActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".Activities.Signup"
            android:exported="true" />
        <activity
            android:name=".Activities.Login"
            android:exported="true" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Classes.FirebaseService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.permission.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>